___

<a href='https://pandas.pydata.org/docs/reference/io.html'> <img src='https://www.python.org/static/img/python-logo.png' /></a>

___

# Data Input y Output

Este notebook es el código de referencia para obtener entradas y salidas, con Pandas se pueden leer una variedad de tipos de archivos usando sus métodos pd.read_. Echemos un vistazo a los tipos de datos más comunes:

In [5]:
import numpy as np
import pandas as pd

## CSV

### CSV Input

In [8]:
df = pd.read_csv('ejemplo')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### CSV Output

In [10]:
df.to_csv('ejemplo',index=False)

## Excel
Pandas puede leer y escribir archivos de Excel, tener en cuenta que esto solo importa datos. No son fórmulas o imágenes, tener imágenes o macros puede hacer que este método read_excel se bloquee.

### Excel Input

In [11]:
# Usamos openpyxl en engine, para abrir archivos .xlsx
pd.read_excel('Excel_Ejemplo.xlsx',sheet_name='Sheet1', engine='openpyxl')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

### Excel Output

In [12]:
df.to_excel('Excel_Ejemplo.xlsx',sheet_name='Sheet1')

## HTML

Es posible que se deba instalar htmllib5, lxml y BeautifulSoup4. En la terminal / símbolo del sistema, ejecute:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4

Luego reiniciar Jupyter Notebook.
(o user pip install si no se está usando Anaconda Distribution)

Pandas puede leer las pestañas de las tablas en html. Por ejemplo:

In [13]:
!pip install lxml

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (4.2.6)

In [14]:
!pip install html5lib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: html5lib in /usr/local/lib/python3.7/dist-packages (1.0.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from html5lib) (0.5.1)

In [15]:
!pip install BeautifulSoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: BeautifulSoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

### HTML Input

La función read_html de Pandas leerá tablas de una página web y devolverá una lista de objetos DataFrame:

In [16]:
df = pd.read_html('https://en.wikipedia.org/wiki/Lima')

In [17]:
len(df)

18

In [18]:
df[1]

   Climate data for Lima (Jorge Chávez International Airport) 1961–1990, extremes 1960–present  \
                                                                                         Month
0                                 Record high °C (°F)
1                                Average high °C (°F)
2                                  Daily mean °C (°F)
3                                 Average low °C (°F)
4                                  Record low °C (°F)
5                   Average precipitation mm (inches)
6               Average precipitation days (≥ 0.1 mm)
7                       Average relative humidity (%)
8                         Mean monthly sunshine hours
9   Source 1: Deutscher Wetterdienst,[51] Meteo Cl...
10  Source 2: Universidad Complutense de Madrid (s...

                                                       \
                                                  Jan
0                                          32.7(90.9)
1                                          26.1(79.0)
2                                          22.1(71.8)
3                                          19.4(66.9)
4                                          12.0(53.6)
5                                           0.8(0.03)
6                                                 0.7
7                                                81.6
8                                               179.1
9   Source 1: Deutscher Wetterdienst,[51] Meteo Cl...
10  Source 2: Universidad Complutense de Madrid (s...

                                                       \
                                                  Feb
0                                          32.5(90.5)
1                                          26.8(80.2)
2                                          22.7(72.9)
3                                          19.8(67.6)
4                                          15.0(59.0)
5                                           0.4(0.02)
6                                                 0.7
7                                                82.1
8                                               169.0
9   Source 1: Deutscher Wetterdienst,[51] Meteo Cl...
10  Source 2: Universidad Complutense de Madrid (s...

                                                       \
                                                  Mar
0                                          33.4(92.1)
1                                          26.3(79.3)
2                                          22.2(72.0)
3                                          19.5(67.1)
4                                          11.0(51.8)
5                                           0.4(0.02)
6                                                 0.7
7                                                82.7
8                                               139.2
9   Source 1: Deutscher Wetterdienst,[51] Meteo Cl...
10  Source 2: Universidad Complutense de Madrid (s...

                                                       \
                                                  Apr
0                                          31.6(88.9)
1                                          24.5(76.1)
2                                          20.6(69.1)
3                                          17.9(64.2)
4                                          10.0(50.0)
5                                           0.1(0.00)
6                                                 0.3
7                                                85.0
8                                               184.0
9   Source 1: Deutscher Wetterdienst,[51] Meteo Cl...
10  Source 2: Universidad Complutense de Madrid (s...

                                                       \
                                                  May
0                                          30.3(86.5)
1                                          22.0(71.6)
2                                          18.8(65.8)
3                                          16.4(61.5)
4                                           8.0(46.4)
5                                           0.3(0.01)
6                                                 1.1
7                                                85.1
8                                               116.4
9   Source 1: Deutscher Wetterdienst,[51] Meteo Cl...
10  Source 2: Universidad Complutense de Madrid (s...

                                                       \
                                                  Jun
0                                          30.0(86.0)
1                                          20.1(68.2)
2                                          17.5(63.5)
3                                          15.6(60.1)
4                                          10.0(50.0)
5                                           0.7(0.03)
6                                                 2.3
7                                                85.1
8                                                50.6
9   Source 1: Deutscher Wetterdienst,[51] Meteo Cl...
10  Source 2: Universidad Complutense de Madrid (s...

                                                       \
                                                  Jul
0                                          28.3(82.9)
1                                          19.1(66.4)
2                                          16.7(62.1)
3                                          15.2(59.4)
4                                           8.9(48.0)
5                                           1.0(0.04)
6                                                 3.0
7                                                84.8
8                                                28.6
9   Source 1: Deutscher Wetterdienst,[51] Meteo Cl...
10  Source 2: Universidad Complutense de Madrid (s...

                                                       \
                                                  Aug
0                                          29.0(84.2)
1                                          18.8(65.8)
2                                          16.2(61.2)
3                                          14.9(58.8)
4                                          10.0(50.0)
5                                           1.5(0.06)
6                                                 4.1
7                                                84.8
8                                                32.3
9   Source 1: Deutscher Wetterdienst,[51] Meteo Cl...
10  Source 2: Universidad Complutense de Madrid (s...

                                                       \
                                                  Sep
0                                          28.0(82.4)
1                                          19.1(66.4)
2                                          16.4(61.5)
3                                          14.9(58.8)
4                                          12.5(54.5)
5                                           0.7(0.03)
6                                                 3.1
7                                                85.5
8                                                37.3
9   Source 1: Deutscher Wetterdienst,[51] Meteo Cl...
10  Source 2: Universidad Complutense de Madrid (s...

                                                       \
                                                  Oct
0                                          25.2(77.4)
1                                          20.3(68.5)
2                                          17.3(63.1)
3                                          15.5(59.9)
4                                          11.0(51.8)
5                                           0.2(0.01)
6                                                 1.2
7                                                83.5
8                                                65.3
9   Source 1: Deutscher Wetterdienst,[51] Meteo Cl...
10  Source 2: Universidad Complutense de Madrid (s...

                                                       \
                                                  Nov
0                                          29.0(84.2)
1                                          22.1(71.8)
2                                          18.7(65.7)
3                                          16.6(61.9)
4                                          11.1(52.0)
5                                           0.1(0.00)
6                                                 0.4
7                                                82.1
8                                                89.0
9   Source 1: Deutscher Wetterdienst,[51] Meteo Cl...
10  Source 2: Universidad Complutense de Madrid (s...

                                                       \
                                                  Dec
0                                          30.4(86.7)
1                                          24.4(75.9)
2                                          20.7(69.3)
3                                          18.2(64.8)
4                                          13.9(57.0)
5                                           0.2(0.01)
6                                                 0.5
7                                                81.5
8                                               139.2
9   Source 1: Deutscher Wetterdienst,[51] Meteo Cl...
10  Source 2: Universidad Complutense de Madrid (s...


                                                 Year
0                                          33.4(92.1)
1                                          22.5(72.5)
2                                          19.2(66.6)
3                                          17.2(63.0)
4                                           8.0(46.4)
5                                           6.4(0.25)
6                                                18.2
7                                                82.8
8                                                1230
9   Source 1: Deutscher Wetterdienst,[51] Meteo Cl...
10  Source 2: Universidad Complutense de Madrid (s...

____

_____
_____
# SQL (Opcional)

El módulo pandas.io.sql proporciona una colección de envoltorios de consultas para facilitar la recuperación de datos y reducir la dependencia de la API específica de DB. SQLAlchemy proporciona la abstracción de la base de datos si está instalada. Además, necesitará una biblioteca de controladores para su base de datos. Ejemplos de estos controladores son psycopg2 para PostgreSQL o pymysql para MySQL. Para SQLite, esto se incluye en la biblioteca estándar de Python de forma predeterminada. Puedes encontrar una descripción general de los controladores compatibles para cada dialecto SQL en los documentos de SQLAlchemy.

Si SQLAlchemy no está instalado, solo se proporciona un respaldo para sqlite (y para mysql para compatibilidad con versiones anteriores, pero esto está en desuso y se eliminará en una versión futura). Este modo requiere un adaptador de base de datos de Python que respete la DB-API de Python.

Las funciones clave son:

* read_sql_table(table_name, con[, schema, ...])	
    * Leer SQL tabla de base de datos en un DataFrame.
* read_sql_query(sql, con[, index_col, ...])	
    * Leer la consulta SQL en un DataFrame.
* read_sql(sql, con[, index_col, ...])	
    * Leer la consulta SQL o la tabla de la base de datos en un DataFrame.
* DataFrame.to_sql(name, con[, flavor, ...])	
    * Escribir los registros almacenados en un DataFrame en una base de datos SQL.

In [19]:
from sqlalchemy import create_engine

In [20]:
engine = create_engine('sqlite:///:memory:')

In [21]:
df.to_sql('data', engine)

AttributeError: ignored

In [ ]:
sql_df = pd.read_sql('data',con=engine)

In [ ]:
sql_df

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15

# Buen trabajo!